{% extends 'adminbase.html' %}

{% block content %}
    <h2 style="text-align: center; color: green; text-decoration: underline; margin-bottom: 12px;">Are you sure you want to delete the survey "{{ survey.title }}"?</h2>
    <form method="post" style="text-align: center;">
        {% csrf_token %}
        
        <!-- Confirm Delete Button (Red) -->
        <button type="submit" style="background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-right: 20px;">
            Confirm Delete
        </button>
        
        <!-- Cancel Button (Green) -->
        <a href="{% url 'survey_admin' %}" style="color: white; text-decoration: none; background-color: green; padding: 10px 20px; border-radius: 5px; display: inline-block; text-align: center;">
            Cancel
        </a>
    </form>
{% endblock %}
